/JAVA/EscuelaDigital/nbproject/private/
/JAVA/clase2JAVA/nbproject/private/
/JAVA/clase2JAVA/build/
/JAVA/clase2JAVA/dist/
/JAVA/clase3JAVA/nbproject/private/
/JAVA/calse3JAVA/nbproject/private/
/JAVA/calse3JAVA/build/
/JAVA/paginaweb/target/
/JAVA/paginaweb1/target/
/JAVA/web/target/
/JAVA/basededatos/target/
/JAVA/actividadJAVA/nbproject/private/
/JAVA/actividadJAVA/build/
